<app-menu></app-menu>

<div class="proyectos">
    <h1>
        PROYECTOS
      </h1>
    <div class="card-group">
        <div class="card"  style="width: 18rem;">
          <img class="card-img-top img-thumbnail" src="../../assets/proyectos/Captura de pantalla de 2018-09-24 22-33-51.png" alt="Card image cap">
          <div class="card-body">
            <h4 class="card-title">ConectApp</h4>
            <p class="card-text">ConectApp es una red social a nivel de curso, para agilizar el proceso de comunicación entre apoderados y profesores, de manera simple, intuitiva y directa.</p>
            <p>Desarrollada con: JavaScript, Bootstrap, Firebase.</p>
            <div class="btn-group" role="group" aria-label="Basic example">
                <a href="https://red-social-lab-2018.firebaseapp.com/" class="btn btn-primary demo" target="_blank" role="button">Ver Demo</a>
                <a href="https://github.com/LeslieInostroza/scl-2018-05-bc-core-am-socialnetwork" class="btn btn-primary proyecto" target="_blank"role="button">Ver Proyecto</a>
              </div>
          </div>
        </div>
        <div class="card"  style="width: 18rem;border: solid;">
          <img class="card-img-top img-thumbnail" src="../../assets/proyectos/Captura de pantalla de 2018-09-24 22-55-30.png" alt="Card image cap">
          <div class="card-body">
            <h4 class="card-title">EasyFood</h4>
            <p class="card-text">EasyFood es una red social, donde se comparten recetas, para asi acceder a ellas, de manera agil y simple</p>
            <p>Desarrollada con: Angular, Firebase, Material-Angular, Angular/fire</p>
            
            <div class="btn-group" role="group" aria-label="Basic example">
                <a href="https://redsocialproyectoangular.firebaseapp.com" class="btn btn-primary demo" target="_blank" role="button">Ver Demo</a>
                <a href="https://github.com/LeslieInostroza/redSocialProyectoAngular" class="btn btn-primary proyecto" target="_blank"role="button">Ver Proyecto</a>
              </div>
          </div>
        </div>
        <div class="card"  style="width: 18rem;border: solid;">
          <img class="card-img-top mark img-thumbnail" src="../../assets/proyectos/Captura de pantalla de 2018-09-25 00-52-23.png" alt="Card image cap">
          <div class="card-body">
            <h4 class="card-title">MarkDown-Links</h4>
            <p class="card-text">MarkDown-Links, es una libreria, que permite, la extracción de links, que se encuentran, dentro de archivos de textos, con extensión ".md", además, posee la opción, de revisar el estado en el cual se hayan,dichos links encontrados.</p>
            <p>Desarrollada con: JavaScript, NodeJs</p>
            
            <div class="btn-group" role="group" aria-label="Basic example">
                <a href="https://github.com/LeslieInostroza/scl-2018-01-FE-markdown" class="btn btn-primary demo" target="_blank" role="button">Ver Demo</a>
                <a href="https://github.com/LeslieInostroza/scl-2018-01-FE-markdown" class="btn btn-primary proyecto" target="_blank"role="button">Ver Proyecto</a>
              </div>
          </div>
        </div>
      </div>

</div>
    