<app-menu></app-menu>
<h1>
  PROYECTOS
</h1>
<div class="container">
    <div class="card-group">
        <div class="card"  style="width: 18rem;">
          <img class="card-img-top" src="../../assets/proyectos/Captura de pantalla de 2018-09-24 22-33-51.png" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">ConectApp</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>

            <div class="btn-group" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-secondary">Left</button>
                <button type="button" class="btn btn-secondary">Middle</button>
              </div>
          </div>
        </div>
        <div class="card"  style="width: 18rem;">
          <img class="card-img-top" src="../../assets/proyectos/Captura de pantalla de 2018-09-24 22-55-30.png" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">EasyFood</h5>
            <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
            
            <div class="btn-group" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-secondary">Left</button>
                <button type="button" class="btn btn-secondary">Middle</button>
              </div>
          </div>
        </div>
        <div class="card"  style="width: 18rem;">
          <img class="card-img-top" src=".../100px180/" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
            
            <div class="btn-group" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-secondary">Left</button>
                <button type="button" class="btn btn-secondary">Middle</button>
              </div>
          </div>
        </div>
      </div>

</div>

    
    

    