h1{
  text-align: center;
  margin-top: 70px;
  margin-bottom: 50px;
}

h4{
  color: #86377b
}
.card-title{
  text-align: center;
}

.card{
  margin: 15px;
  border: solid;
}

.btn-primary {
  color: #fff;
  
  border-color: #86377b;
}
.demo{
  background-color: #86377b;
}
.proyecto{
  background-color:#fff;
  color: #86377b;
  margin-left: 5px;
}

.btn-group>.btn:not(:first-child) {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  margin-left: 5px;
}

.btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #27273c;
  border-color: #27273c;
}
.proyectos{
  background-image: linear-gradient(to top, #86377b 20%, #27273c 80%);
  padding: 100px 0;
}