<app-menu></app-menu>
<div class="screenprofile">
  <div class="container">
    <div class="title">
    <h2>Mi Perfil</h2>
    <hr>
    </div>
    <div class="row">
      <div class ="col-4">
          <img src="../../assets/IMG/DSC_0015.JPG" class="img-fluid rounded-circle" alt="Responsive image">
      </div>
      <div class ="col-6">
      <div  div class="container-text">
          <p class="text">Soy Front-end Developer de Laboratoria</p>
      </div>
      </div>
    </div>
    
  </div>
</div>
